{% extends 'base.html' %}

{% block title %}
Learning about the game of Dart
{% endblock %}


{% block content %}
<br><br><br>
<div class="card">
<h2>  History of the game of Dart </h2>
  <div class="card-body">
    Historians estimate that the sport, which was once a form of recreation at the time, probably first began in the Middle Ages in England, as no exact evidence is available and roughly clues have been found that some of these Exercise was taught to high school students so that they could make more accurate markings by strengthening their arm and forearm muscles, which were later useful even in archery and javelin throwing.

    But the truth is that during the war in the 18th century, empty bottles of alcohol and aiming to drop matches into the bottles from a distance were one of the most interesting and entertaining pastimes of these soldiers, who later thought that they could form Have better and more fun and even make money from this game that after a while the bottles turned into a flat board and with small pieces of carved wood turned into small and sharp pieces.

    The flat wooden board, called a "board", consists of a number of colored rings painted at regular intervals, each throwing within one of the colored rings having its own points. Since centuries ago, every means of entertainment and leisure was not far from the eyes of the affluent and upper class of society, darts and darts were quickly noticed by European princes and the rich, and in a short time it became so widespread among them that Sometimes they spent hours a day playing the game and betting on darts.
  </div>
<div class="card-body">
<!-- <img src="{{url_for('static', filename='dart_int.jpg')}}"  class="rounded mx-auto d-block img-fluid"   alt="Cinque Terre"> -->
</div>
</div>

<br>
<div class="card">
<h1> The game of Dart in United States of America  </h1>

	<div class="card-body">
    But this sport, like all other sports in America, has its own history, and the people of this land have their own way of doing each sport. Darts, like other sports, was introduced by immigrants who had moved to the continent. Darts were practiced in the United States and among the Anglo-Saxons until the time of Queen Victoria, and it is natural that it flourished more than anywhere else in Britain, and as it seems to this day, the sun of the British monarchy never sets. The desire of English princes to throw darts has been passed down from generation to generation over the years.

    But today, darts have gone beyond a hobby, and there are now about 1,900 rules for the sport. The size of the board is standard and even the size of the darts is fixed. Darts teams from European countries compete in sports leagues.
<br>
To read the about history of Dart click on the linke below
</div>
<br>
<a  class="btn btn-warning nav-link" role="button" href="{{url_for('rules')}}"> Rules of the game
</a>	


</div>
<br>
<br>


{% endblock %}
